{% extends 'TestApp/base.html' %}

{% load static %}


{% block css %}
<style>
    .container{
      
      font-family: fantasy;
    }
    body {
  background-color: rgb(211, 211, 211);
}
</style>
{% endblock css %}

{% block js %}
{% endblock js %}

{% block title %}
<title>Add Project Page</title>
{% endblock title %}



{% block body %}

    <div class="container shadow pb-3">
        <h1 class="display-5 text-center text-primary p-3">Add Project</h1>
    </div>

    <div class="container my-5">

        <form action="{% url 'add_blog' %}" method="post">
            {% csrf_token %}

                {% for fm in form %}

                    <div class="form-group mb-3">
                        {{fm.label_tag}}{{fm}}
                    </div>

                {% endfor %}
                <div class="form-group mb-3">
                    <button class="btn btn-primary" type="submit">Add Project</button>        
                </div>

        </form>
    </div>
    
{% endblock body %}