{% extends 'TestApp/base.html' %}

{% load static %}

{% block head %}
<style>
    body{
      background-image: url(static/office1.jpg);
    }
   </style>

   <link rel="stylesheet" href="style.css">
{% endblock head %}




{% block css %}
<style>
    .container{
      
      font-family: fantasy;
    }
    body {
  background-color: rgb(211, 211, 211);
}
</style>
{% endblock css %}

{% block js %}
{% endblock js %}

{% block title %}
<title>Dashboard Page</title>
{% endblock title %}



{% block body %}

{% if messages %}

    {% for msg in messages %}

        <p {% if msg.tags %} class="p-3 alert-{{msg.tags}}" {% endif %}>{{msg}}</p>


    {% endfor %}

{% endif %}


    <div class="container shadow pb-2 ">
        <h1 class="display-5 text-center text-primary p-3">Dashboard Page</h1>

    </div>
    
    <br>
    <div class="container text-center d-grid gap-2">
        
        <a href="#" class="btn btn-primary">Add Project</a>
        
    </div>
    <br>
    
    <br>
    <div class="container text-center d-grid gap-2">
        
        <a href="#" class="btn btn-primary">see Projects</a>
        
    </div>
    
    <br>
    <br>
    <div class="container text-center d-grid gap-2">
        
        <a href="#" class="btn btn-primary">delete projects</a>
        
    </div>
{% endblock body %}