{% extends 'TestApp/base.html' %}

{% load static %}


{% block css %}
<style>
    .container{
      
      font-family: fantasy;
    }
</style>
{% endblock css %}

{% block js %}
{% endblock js %}

{% block title %}
<title>Register</title>
{% endblock title %}



{% block body %}

<div class="container shadow pb-3">
    <h1 class="display-5 text-center text-primary p-3">Register Page</h1>

</div>

<div class="container shadow pb-3 w-75 ">

    <form action="{% url 'register' %}" method="post">

        {% csrf_token %}

        {% for fm in form %}

        <div class="form-group mb-3">
            
            {{fm.label_tag}}{{fm}}
            <p class="text-danger">{{fm.errors|striptags}}</p>

        </div>

        {% endfor %}

        <!-- Register form here -->

        <div class="form-group mb-3">

            <button class="btn btn-success" type="submit">Register</button>

        </div>

        

    </form>

</div>



{% endblock body %}